page-login {
.list-md{padding:50px 20px;}
.scroll-content{background:#f7f9fc;}
.item-block{background-color:#f7f9fc;}
.forgot-btn{padding:10px;background:none;color:#bebebe;}
.right{float:right;background-color:#ffc107;}
.register-btn{width:48%}
.item-inner{padding:20px;}
}
