page-register {
	.registertop{background:#4557d0;}
	.list-md{padding:20px 20px;}
	.scroll-content{background:#f7f9fc;}
	.item-block{background-color:#f7f9fc;}
	.forgot-btn{padding:10px;background:none;color:#bebebe;}
	.right{float:right;background-color:#ffc107;}
	.register-btn{width:100%}
	.item-md{padding:0;}
	.item-inner{padding:20px;}
}
