<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Invoice</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-list>
    <ion-item><ion-input type="text"  placeholder="Name of the company:" formControlName="compName"></ion-input></ion-item>
    <ion-item *ngIf="compName.hasError('required') && compName.touched">
        <p>* Company Name is required</p>
    </ion-item>
    <ion-item><ion-input type="text"  placeholder="Mailing address:" formControlName="mailingAddress"></ion-input></ion-item>
    <ion-item *ngIf="mailingAddress.hasError('required') && mailingAddress.touched">
        <p>* Mailing Address is required</p>
    </ion-item>
    <ion-item>  <ion-icon name="calendar"></ion-icon><ion-input type="date"  placeholder="Invoice Date:" formControlName="invoiceDate"></ion-input></ion-item>
    <ion-item *ngIf="invoiceDate.hasError('required') && invoiceDate.touched">
        <p>* Invoice date is required</p>
    </ion-item>  
    <ion-item><ion-input type="text"  placeholder="Pick up (optional):" formControlName="pickUp"></ion-input></ion-item>
    <ion-item *ngIf="pickUp.hasError('required') && pickUp.touched">
        <p>* Pick up is required</p>
    </ion-item>
    <ion-item><ion-input type="text"  placeholder="Drop location (optional):" formControlName="dropLocation"></ion-input></ion-item>
    <ion-item *ngIf="dropLocation.hasError('required') && dropLocation.touched">
        <p>* Drop location is required</p>
    </ion-item>
    <ion-item><ion-input type="number"  placeholder="Line Haul amount:" formControlName="lineHaul"></ion-input></ion-item>
    <ion-item *ngIf="lineHaul.hasError('required') && lineHaul.touched">
        <p>* Line haul amount is required</p>
    </ion-item>
    <ion-item><ion-input type="text"  placeholder="Add line Items:" formControlName="lineItem"></ion-input></ion-item>
    <ion-item *ngIf="lineItem.hasError('required') && lineItem.touched">
        <p>* line Item is required</p>
    </ion-item>
    <ion-item><ion-input type="number"  placeholder="Total amount on Invoice:" formControlName="totalAmount"></ion-input></ion-item>
    <ion-item *ngIf="totalAmount.hasError('required') && totalAmount.touched">
        <p>* Total amount is required</p>
    </ion-item>
    <ion-item><ion-input type="text"  placeholder="Notes (optional):" formControlName="notes"></ion-input></ion-item>
    <ion-item *ngIf="notes.hasError('required') && notes.touched">
        <p>* Note is required</p>
    </ion-item>
  </ion-list>
  <div padding>  
      <button ion-button class="register-btn right"  type="submit" [disabled]="!f.valid">Submit</button>
  </div>
  </form>
</ion-content>
